<div class="item3">
<section>     
          <h1>Prozessoren</h1>
          <p>
            Hier finden Sie eine Tabelle aktueller Bestseller im Bereich
            Prozessoren.
          </p>
        <div class="item3">
          <fieldset>
            <legend><b>Bestseller</b></legend>
            <table class="producttable">
              <tr>
                <td>
                  <a
                    href="https://www.caseking.de/amd-ryzen-9-5950x-3-4-ghz-vermeer-am4-boxed-ohne-kuehler-hpam-205.html"
                    >Ryzen 9 5950X</a
                  >
                </td>
                <td>
                  <img
                    height="100"
                    src="https://static3.caseking.de/media/image/thumbnail/hpam-205_hpam_205_01_800x800.jpg"
                  />
                </td>
                <td>3,4/4,9 GHz</td>
                <td>16</td>
                <td>105 Watt</td>
                <td>769,00€</td>
                <td>
                  <% if(account && account[2].has("Ryzen 9 5950X")){ %>
                    <form method="POST" action="/favoritEntfernen">
                      <input name="artikel" type="hidden" value="Ryzen 9 5950X"/>
                      <button type="submit" class="button">Von Favoriten entfernen</button>
                      </form>
                  <% } else{ %>
                      <form method="POST" action="/favoritHinzufuegen">
                      <input name="artikel" type="hidden" value="Ryzen 9 5950X"/>
                      <button type="submit" class="button">Zu Favoriten hinzufügen</button>
                      </form>
                  <% } %>
                  </td>
                  <form method="POST" action="/kommentarHinzufuegen">
                  <td>
                    <div class="commentcontainer">
                      <input name="artikel" type="hidden" value="Ryzen 9 5950X"/>
                      <input name="kommentar" type="text" maxlength="200" />
                      <button type="submit" class="button commentbutton">Kommentar hinzufügen</button>
                      <div>
                        <p class="commentsheading">Kommentare:</p>
                        <div class="commentbox">
                          <%var kommentare = alleKommentare.get("Ryzen 9 5950X") ?? []%>
                          <% for(var i = 0; i < kommentare.length; i++ ){ %>
                            <p><%=kommentare[i][0]%>: <%=kommentare[i][1]%><p>
                          <% } %>
                        </div>
                      </div>
                    </div>
                  </td>
                  </form> 
              </tr>
              <tr>
                <td>
                  <a
                    href="https://www.mindfactory.de/product_info.php/Intel-Core-i9-12900KF-LGA1700-8C-8c-24T--3-20-5-30GHz-WOF_1429032.html"
                    >Intel Core i9-12900KF</a
                  >
                </td>
                <td>
                  <img
                    height="100"
                    src="https://image1280.macovi.de/images/product_images/1280/1429032_0__70952.jpg"
                  />
                </td>
                <td>3.20/5.30 GHz</td>
                <td>8+8</td>
                <td>125 Watt</td>
                <td>589,00€</td>
                <td>
                  <% if(account && account[2].has("Intel Core i9-12900KF")){ %>
                    <form method="POST" action="/favoritEntfernen">
                      <input name="artikel" type="hidden" value="Intel Core i9-12900KF"/>
                      <button type="submit" class="button">Von Favoriten entfernen</button>
                      </form>
                  <% } else{ %>
                      <form method="POST" action="/favoritHinzufuegen">
                      <input name="artikel" type="hidden" value="Intel Core i9-12900KF"/>
                      <button type="submit" class="button">Zu Favoriten hinzufügen</button>
                      </form>
                  <% } %>
                  </td>
                  <form method="POST" action="/kommentarHinzufuegen">
                  <td>
                    <div class="commentcontainer">
                      <input name="artikel" type="hidden" value="Intel Core i9-12900KF"/>
                      <input name="kommentar" type="text" maxlength="200" />
                      <button type="submit" class="button commentbutton">Kommentar hinzufügen</button>
                      <div>
                        <p class="commentsheading">Kommentare:</p>
                        <div class="commentbox">
                          <%var kommentare = alleKommentare.get("Intel Core i9-12900KF") ?? []%>
                          <% for(var i = 0; i < kommentare.length; i++ ){ %>
                            <p><%=kommentare[i][0]%>: <%=kommentare[i][1]%><p>
                          <% } %>
                        </div>
                      </div>
                    </div>
                  </td>
                  </form> 
              </tr>
              <tr>
                <td>
                  <a
                    href="https://www.mindfactory.de/product_info.php/AMD-Ryzen-Threadripper-PRO-3995WX-4-2Ghz-sWRX8-288MB-280W-WOF_1393351.html"
                    >AMD Ryzen Threadripper PRO 3995WX</a
                  >
                </td>
                <td>
                  <img
                    height="100"
                    src="https://image1280.macovi.de/images/product_images/1280/1393351_0__74920.jpg"
                  />
                </td>
                <td>2.70/4.20 GHz</td>
                <td>64</td>
                <td>280 Watt</td>
                <td>5.295,97€</td>
                <td>
                  <% if(account && account[2].has("AMD Ryzen Threadripper PRO 3995WX")){ %>
                    <form method="POST" action="/favoritEntfernen">
                      <input name="artikel" type="hidden" value="AMD Ryzen Threadripper PRO 3995WX"/>
                      <button type="submit" class="button">Von Favoriten entfernen</button>
                      </form>
                  <% } else{ %>
                      <form method="POST" action="/favoritHinzufuegen">
                      <input name="artikel" type="hidden" value="AMD Ryzen Threadripper PRO 3995WX"/>
                      <button type="submit" class="button">Zu Favoriten hinzufügen</button>
                      </form>
                  <% } %>
                  </td>
                  <form method="POST" action="/kommentarHinzufuegen">
                  <td>
                    <div class="commentcontainer">
                      <input name="artikel" type="hidden" value="AMD Ryzen Threadripper PRO 3995WX"/>
                      <input name="kommentar" type="text" maxlength="200" />
                      <button type="submit" class="button commentbutton">Kommentar hinzufügen</button>
                      <div>
                        <p class="commentsheading">Kommentare:</p>
                        <div class="commentbox">
                          <%var kommentare = alleKommentare.get("AMD Ryzen Threadripper PRO 3995WX") ?? []%>
                          <% for(var i = 0; i < kommentare.length; i++ ){ %>
                            <p><%=kommentare[i][0]%>: <%=kommentare[i][1]%><p>
                          <% } %>
                        </div>
                      </div>
                    </div>
                  </td>
                  </form> 
              </tr>
            </table>
          </fieldset>
        </div>
</section>
</div>